pyrogram
 tgcrypto 
 pymongo
 motor
 marshmallow
 umongo
 requests 
 bs4 
 git+https://github.com/Joelkb/cinemagoer 
 shortzy 
 datetime 
 pytz 
 aiohttp

#---master---# 
 #Telethroid==0.0.10 
 PyLeaves
  
  
 #---others----# 
 opencv-python-headless==4.7.0.68 
 python-dotenv
 speedtest==0.0.1 
 humanize==4.6.0 
 Pillow
 psutil
 NumPy 
 wheel 
 ujson 
 wget 
 pytz
 aiofiles
 dnspython
 ### googletrans==4.0.0-rc1 ###
python-decouple
ffmpeg-python>=0.2.0

jinja2
apscheduler
pyshorteners
pyromod
colorama



  
